
@charset "utf-8";
/*
#form1{
       position: relative;
       max-width: 270px; 
       margin-bottom: 20px;	
       }

#sbox{
      width: 270px;
      outline: 0;	
      height: 50px;
      padding: 0 10px; 
      max-width: 270px;
      border-radius: 2px;
      border: none;
      background: #eeeeee;
      }

#sbtn{
      width: 70px;
      height: 50px;
      position: absolute; 
      left: 270px; 
      top: 0;
      border-radius: 2px;
      background: #7fbfff;
      color: #fff;
      font-weight:bold;
      font-size: 16px;
      border: none;
      }

#sbtn:hover{
            color: #003366;
            }
*/

   